#annotations.table-responsive
  table.ann.table-bordered.table.table-striped(st-pipe='ann.callServer', st-table='ann.students')
    thead
      tr
        th.text-center
          i.fa.fa-search
        th
          input.input-sm.form-control(st-search='lastname', placeholder='search for Last Name', type='search')
        //- th
        //-   input.input-sm.form-control(st-search='lastname', placeholder='search for Last Name', type='search')
        th.good.text-center(colspan=3) Positive
        th.bad.text-center(colspan=6) Negative
        th.war.text-center
          i.fa.fa-exclamation-triangle
        th.text-center.col-sm-2
          i.fa.fa-chevron-left
        th.text-center.col-sm-4(colspan=2) Current 4 Weeks
        th.text-center.col-sm-2
          i.fa.fa-chevron-right
      tr
        th(st-sort='number', st-sort-default='true')
          i.fa.fa-sort-amount-desc
        th(st-sort='lastname') Name
        th(ng-repeat='anplus in ann.positives', st-sort='{{anplus}}') {{anplus}}
        th(ng-repeat='anneg in ann.negatives', st-sort='{{anneg}}') {{anneg}}
        th
        th(ng-repeat='week in ann.weeks')
          i.fa.fa-calendar
          span   {{week._d | date:'MMM dd'}}
    tbody(ng-show='!ann.isLoading')
      tr(ng-repeat='row in ann.students')
        td {{row.number}}
        td {{row.name}} {{row.lastname}}
        td.text-center(ng-repeat='an in ann.positives')
          span.good(ng-bind='row.totals[an].length')
        td.text-center(ng-repeat='an in ann.negatives')
          strong.bad(ng-bind='row.totals[an].length')
        td
        td
          a.circle-g( ng-repeat='anplus in ann.positives',
                      ng-bind-html='ann.hasAnn(row.annotations, anplus, ann.weeks[0]._d).html',
                      ng-click='ann.sendAnn(row.$id, anplus, ann.weeks[0]._d)'
                      ng-class='{"has": ann.hasAnn(row.annotations, anplus, ann.weeks[0]._d).num > 0}')
          hr
          a.circle-w(ng-click='ann.sendWarning(ann.weeks[0]._d)')
            i.fa.fa-exclamation-triangle
          a.circle-b( ng-repeat='anneg in ann.negatives',
                      ng-bind-html='ann.hasAnn(row.annotations, anneg, ann.weeks[0]._d).html',
                      ng-click='ann.sendAnn(row.$id, anneg, ann.weeks[0]._d)'
                      ng-class='{"has": ann.hasAnn(row.annotations, anneg, ann.weeks[0]._d).num > 0}')
        td
          //- a.circle-w(ng-click='ann.sendWarning(ann.weeks[0]._d)')
            //- i.fa.fa-trophy
          a.circle-g( ng-repeat='anplus in ann.positives',
                      ng-bind-html='ann.hasAnn(row.annotations, anplus, ann.weeks[1]._d).html',
                      ng-click='ann.sendAnn(row.$id, anplus, ann.weeks[1]._d)'
                      ng-class='{"has": ann.hasAnn(row.annotations, anplus, ann.weeks[1]._d).num > 0}')
          hr
          a.circle-w(ng-click='ann.sendWarning(ann.weeks[1]._d)')
            i.fa.fa-exclamation-triangle
          a.circle-b( ng-repeat='anneg in ann.negatives',
                      ng-bind-html='ann.hasAnn(row.annotations, anneg, ann.weeks[1]._d).html',
                      ng-click='ann.sendAnn(row.$id, anneg, ann.weeks[1]._d)'
                      ng-class='{"has": ann.hasAnn(row.annotations, anneg, ann.weeks[1]._d).num > 0}')
        td
          //- a.circle-w(ng-click='ann.sendWarning(ann.weeks[0]._d)')
            //- i.fa.fa-trophy
          a.circle-g( ng-repeat='anplus in ann.positives',
                      ng-bind-html='ann.hasAnn(row.annotations, anplus, ann.weeks[2]._d).html',
                      ng-click='ann.sendAnn(row.$id, anplus, ann.weeks[2]._d)'
                      ng-class='{"has": ann.hasAnn(row.annotations, anplus, ann.weeks[2]._d).num > 0}')
          hr
          a.circle-w(ng-click='ann.sendWarning(ann.weeks[2]._d)')
            i.fa.fa-exclamation-triangle
          a.circle-b( ng-repeat='anneg in ann.negatives',
                      ng-bind-html='ann.hasAnn(row.annotations, anneg, ann.weeks[2]._d).html',
                      ng-click='ann.sendAnn(row.$id, anneg, ann.weeks[2]._d)'
                      ng-class='{"has": ann.hasAnn(row.annotations, anneg, ann.weeks[2]._d).num > 0}')
        td
          //- a.circle-w(ng-click='ann.sendWarning(ann.weeks[0]._d)')
            //- i.fa.fa-trophy
          a.circle-g( ng-repeat='anplus in ann.positives',
                      ng-bind-html='ann.hasAnn(row.annotations, anplus, ann.weeks[3]._d).html',
                      ng-click='ann.sendAnn(row.$id, anplus, ann.weeks[3]._d)'
                      ng-class='{"has": ann.hasAnn(row.annotations, anplus, ann.weeks[3]._d).num > 0}')
          hr
          a.circle-w(ng-click='ann.sendWarning(ann.weeks[3]._d)')
            i.fa.fa-exclamation-triangle
          a.circle-b( ng-repeat='anneg in ann.negatives',
                      ng-bind-html='ann.hasAnn(row.annotations, anneg, ann.weeks[3]._d).html',
                      ng-click='ann.sendAnn(row.$id, anneg, ann.weeks[3]._d)'
                      ng-class='{"has": ann.hasAnn(row.annotations, anneg, ann.weeks[3]._d).num > 0}')
    tbody(ng-show='ann.isLoading')
      tr
        td.text-center(colspan=17)
          .i.fa.fa-spinner.fa-pulse
    tbody(ng-show='!ann.isLoading && ann.students.length === 0')
      tr
        td.text-center(colspan=17) No matches found. Type the exact name considering uppercases.